<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conference application</title>
    <link rel="stylesheet" href="form.css">
</head>

<body>
    <div class="link">
        <p>Thank you, <b><%= data.firstname %> <%= data.lastname %></b>.</p>
        <p>Your appllication is submitted.</p>
        <p>You will get an e-mail at <b><%= data.email %></b> from us in one hour.</p>
    </div>
    <script src="scripts/validate.js"></script>
</body>

</html>